<div class="header clearfix">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button"
                class="navbar-toggle collapsed"
                data-toggle="collapse"
                data-target="#navbar"
                aria-expanded="false"
                aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Utah Center for Data Science</a>
      </div>

      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li {% if page.url == "/"%}class="active"{% endif %}>
            <a href="/">Home</a>
          </li>
          <li {% if page.url == "/programs.html" %}class="active"{% endif %}>
            <a href="/programs.html">Academic Programs</a>
          </li>
          <li {% if page.url == "/club.html" %}class="active"{% endif %}>
            <a href="/club.html">Data Science Club</a>
          </li>        	  
          <li {% if page.url == "/dataday/" %}class="active"{% endif %}>
            <a href="/dataday">Data Science Day</a>
          </li>
          <li {% if page.url == "/calendar.html" %}class="active"{% endif %}>
            <a href="./calendar.html">Data Science Seminar</a>
          </li>
          <li {% if page.url == "/calendar.html" %}class="active"{% endif %}>
            <a href="{{site.baseurl}}/calendar.html">Data Science Seminar</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
